body
{
	background-color: purple;
}
input,button
{
	width: 500px;
	padding: 20px 10px;
	border-radius: 500px;
	border: none;
}
.submit
{
	background-color: lightcoral;
	color: orangered;
	width: 165px;
}
div
{
	width: 100px;
	height: 50px;
	font-size: 1.5rem;
	display: inline-block;
}